<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>顶部和左菜单</title>
</head>
<body>
<!--顶部片段-->
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow" th:fragment="topnav">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">欢迎您<span
            th:text="${session.user.name} ? ${session.user.name} :'游客'"></span></a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse"
            data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#" th:href="@{/logout}">退出</a>
        </li>
    </ul>
</nav>

<!--左菜单-->
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="#"
                   th:class="${lurl=='leftmain'?'nav-link active':'nav-link'}">
                    <span data-feather="home"></span>
                    系统主页<span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="file"></span>
                    开发文档
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="shopping-cart"></span>
                    进度月报
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/ulist}"
                   th:class="${lurl=='leftuser'?'nav-link active':'nav-link'}">
                    <span data-feather="users"></span>
                    用户管理
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="layers"></span>
                    系统管理
                </a>
            </li>
        </ul>
    </div>
</nav>
<script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../js/feather.min.js"></script>
<script type="text/javascript" src="../js/Chart.min.js"></script>
<script type="text/javascript" src="../js/dashboard.js"></script>
</body>
</html>